!!! 5
%html{:dir => "rtl"}
  %body.pull-right
    %p 
      שלום משתמש יקר!
    %p
      בכדי לחדש את הסיסמה לאתר של עשבי ארץ הקודש לחץ על הקישור שלמטה 
    =link_to "חדש סיסמה", reset_password_url(@user.token)