.product-col
  .rowr
    .col-md-10.pull-right
      .caption
        %h4
          = recipe.title 
    .col-md-2.pull-right  
      %form.form-horizontal
        .form-group
          .row
            .col-xs-6
              = link_to admin_recipe_path(recipe), method: :delete, :data => {:confirm => 'חשוב טוב!!! האם אתה בטוח שברצונך למחוק מרשם זה?'}, class: 'btn btn-remove' do
                מחק
                %i.fa.fa-remove          
            .col-xs-6
              = link_to edit_admin_recipe_path(recipe), class: 'btn btn-update' do
                ערוך  
                %i.fa.fa-pencil-square-o             
