.row
  .col-md-10.col-md-offset-1
    .modal-dialog
      .modal-content
        .modal-body
          .panel.panel-smart
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} ×
            %br
            .big-title
              בריאות בגינת הבית
            %br  
            .panel-title 
              הרשמה לקבלת 2 צמחי מרפא ללא כל תמורה 
            .panel-body
              %p
                לאחר מחשבה החלטנו להקצות שטח משתלה של כ 2000 שתילים במחזור של כל חודשיים לחלוקת צמחי מרפא לכל דורש מעם ישראל. אנו מתחייבית לספק שתילים אלו ללא כל תמורה למעט הוצאות משלוח, או לחילופין להכנס לרשימת המתנה אשר פתוחה לכל דורש ונציג של הצוות גם ישתול את הצמחים בגינתכם ויתן יעוץ כיצד להפוך אותה לגינת צמחי מרפא אשר תהייה גם יפה וגם מועילה. מנסיוננו בשנים עברו הביקוש גדול ובאמצעים שבידינו ההיצע גדול פחות, אנו נפרסם מדי פעם באתר את הצמחים הזמינים ונשמח לתת לכם אותם ללא כל תמורה. בברכת שתהיו בריאים מהצוות.
            .panel-body
              = render 'form', :@address => @address, zone: 'free plants order'
