!!! XML
%urlset{:xmlns => "http://www.sitemaps.org/schemas/sitemap/0.9"}
  %url
    %loc http://www.holy-land-herbs.com
    %changefreq always
    %priority 1.0
  %url
    %loc http://www.holy-land-herbs.com/categories/medicinal-food
    %changefreq weekly
    %priority 0.9
  %url
    %loc http://www.holy-land-herbs.com/essential_oils
    %changefreq weekly
    %priority 0.8
  %url
    %loc http://www.holy-land-herbs.com/categories/base-oils
    %changefreq weekly
    %priority 0.7
  %url
    %loc http://www.holy-land-herbs.com/categories/cosmetics
    %changefreq weekly
    %priority 0.6
  %url
    %loc http://www.holy-land-herbs.com/categories/hydrosol
    %changefreq weekly
    %priority 0.5
  %url
    %loc http://www.holy-land-herbs.com/medicinal_herbs
    %changefreq weekly
    %priority 0.3
