- content_for :head do
  %title מרשמים עתיקים ותרופות סבתא
%h4
  כל המרשמים אשר נמצאים כאן הינם למעשה מרשמים עתיקים אשר לוקטו מהמשנה ומספרי קבלה עתיקים. אין אנו לוקחים אחריות על שום מרשם, ואנו ממליצים לבדוק כל דבר לגופו עם רופא אחראי.
#accordion2.accordion
  - @recipes.each do |recipe|
    .accordion-group
      .accordion-heading
        %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapse_#{recipe.id}"}
          = recipe.title
      .accordion-body.collapse{:id => "collapse_#{recipe.id}"} 
        .accordion-inner
          .row
            .col-sm-8.pull-right
              = simple_format(recipe.text)  
            .col-sm-4.pull-right
              - if recipe.image
                %img.img-responsive.thumbnail{:alt => "Image", :src => recipe.image } 