.row 
  .col-md-12   
    .panel.panel-smart
      %h3.panel-title
        = link_to 'הוסף שמן אתרי חדש לאתר +' , new_admin_essential_oil_path  
.product-info-box
  .content-box
    / Products Row Starts
    .row
      - @essential_oils.each do |essential_oil| 
        .col-md-4.col-sm-4.col-xs-12.no-padding.pull-right
          = render 'essential_oil', essential_oil: essential_oil