.information-page-content
  .row
    .col-sm-9     
      .panel.panel-smart 
        .panel-heading
          לקוח יקר
        .panel-body
          %h6
            תודה רבה על הצטרפותך למאגר לקוחותינו.
          %h5
            פה תוכל:
          %ul  
            %li 
              לעקוב אחר הזמנות שלך ולתפות בהזמנות ישנות.
            %li 
              לשמור כתובות למשלוח ולחשבוניות על נמת לזרז את תהליך הקניה.
            %li 
              להכליף פרטי משתמש וסיסמאות.
          %p
            בשם צוות "עשבי ארץ הקודש" אנו מאכלים  לך גלישה מהנה ונעימה באתר, ונשמח לכל משוב או הערה.
    / My Account Ends
    .col-sm-3
      = render 'user_menu'