- content_for :head do
  %title אינדקס קריסטלים לריפוי והקלה
.content-box
  .page-box.medicinal-herb-container
    / Crystals Start
    .header 
      קריסטלים לריפוי והקלה
    %p  
      אתר זה נבנה כדי לתת מידע בנושאים: עבודה אנרגטית, צ'אקרות, קריסטלים ואבני-חן, שפע ומודעות-עצמית. בנוסף ניתן למצוא בו מידע על: גמולוגיה, קריאה בקריסטלים, וורטקס הילינג, תטא-הילינג, שפת-האור ועוד. המידע ניתן ללא בקשת תמורה ובאהבה רבה. האתר גדל ומתעדכן כל הזמן במידע נוסף, בין היתר מאמרים, מידע על קריסטלים נוספים ועוד…
    %p
      כל הקריסטלים ואבני החן אשר נמצאים אצלנו במלאי, ניתן להזמינם כתכשיט רפואי ע"פ הרשימה המופיעה בקטגוריה זו או כאבן לנשיאה. 
      / Crystals End    
  / Crystals Starts
  .medicinal-herbs-list
    .header כל הקריסטלים לפי ה א-ב
    %hr
    .row
      - @crystals.each do |crystal|
        .col-md-2.col-sm-3.col-xs-6.no-padding.pull-right
          = render 'crystal', :crystal => crystal