%h6
  פרטי התקשרות:
%p
  כתובת: השומרון 20 ירושלים.
  שירות לקוחות: 054-9427654
  דואר אלקטרוני : holylandherbs@gmail.com

%h6
  כללי
%p
  אתר "עשבי ארץ ישראל" - http://www.holy-land-herbs.co.il (יכונה להלן גם "האתר") הינו אתר על רשת האינטרנט המנהל חנות וירטואלית למכירת מוצרים לציבור הגולשים ברשת האינטרנט בישראל (יכונה להלן גם "הציבור" או "הלקוח" או "המשתמש"). כל שימוש ו/או גלישה ו/או רכישה באתר ייעשו אך ורק על פי ההוראות המפורטות בתקנון זה ובמקומות אחרים באתר. האמור בלשון זכר מתכוון גם ללשון נקבה, ולהיפך. האמור בלשון יחיד מתכוון גם ללשון רבים, ולהיפך. הנהלת האתר שומרת לעצמה את הזכות לעדכן מעת לעת את תנאי השימוש ללא צורך בהודעה מוקדמת, ועל הציבור להתעדכן עצמאית בשינויים אלו. הנהלת האתר שומרת לעצמה את הזכות לעדכן ולשנות את האתר ושירותיו, כולל היקפם וזמינותם, וזאת ללא צורך בהודעה מוקדמת. למשתמש לא תהיה כל טענה ו/או דרישה ו/או תביעה נגד האתר בגין שינויים אלו ו/או תקלות אשר עלולות להתרחש תוך כדי ביצועם. לבירורים ניתן לפנות באמצעות דואר אלקטרוני שכתובתו הנה: mail AT holy-lend-herbs.co.il
%h6
  ייעוץ רפואי והסתמכות על תכנים הקשורים למצבי בריאות וחולי
%p
  כל התכנים באתר עשבי ארץ ישראל אינם מהווים תחליף לייעוץ מקצועי. התכנים המופיעים באתר נועדו לספק אינפורמציה ואינם בגדר עצה רפואית,חוות דעת רפואית מקצועית או\ו תחליף להתייעצות עם רופא מומחה. מטרת התכנים המופיעים באתר היא לשמש כסיוע ועל מנת להרחיב את הידע האישי של המשתמשים בטרם הם פונים אל מומחה בתחום בו הם יבחרו. לעיתים, מבטאים התכנים גישה מסויימת או דיעה אישית של הכותב בלבד. התכנים באתר עשבי ארץ ישראל, כמקובל בתחום הרפואה, הינם תלויי נסיבות ועובדות של כל מקרה ומקרה ולכן יש להתייחס אליהם במידת הזהירות הנדרשת. בכל מקרה, ובמיוחד בעת מקרה חרום רפואי אין להסתמך על התכנים והעיצות שבאתר אלא להיוועץ מיד עם רופא מומחה ו\או לפנות מיד לקבלת טיפול בבית החולים הקרוב. במקרים רבים, השתהות במתן קבלת טיפול מרופא מומחה או מטיפול בבית החולים עלולה להיות מסוכנת ואף קטלנית.
%h6
  אבטחה
%p
  אתר עשבי ארץ ישראל - http://www.holy-land-herbs.co.il השקיע משאבים רבים ביצירת מערכת לאבטחת מידע ולשמירה על הפרטיות, המבוססת על הכלים המתקדמים ביותר בתחום זה. אתר עשבי ארץ ישראל מתחייב לעשות מאמץ למען שביעות רצונו של הלקוח ולאבטח את האתר ואת רמת השירות בו. יחד עם זאת, האתר אינו מתחייב שהשירות באתר לא יופרע ו/או יינתן כסדרו בלא הפסקות ו/או יתקיים בבטחה וללא טעויות ו/או יהיה חסין מפני גישה בלתי-מורשית למחשבי האתר ו/או לנזקים, קלקולים, תקלות (לרבות תקלות בחומרה, בתוכנה או בקווי התקשורת לאתר), אצל האתר ו/או מי מספקיו ו/או מי מטעמו. המשתמש באתר מצהיר ומסכים כי לא תהא לו כל טענה כנגד בעלי האתר ו/או מי ממפעיליו ו/או מי מטעמם בקשר לכך. אתר עשבי ארץ ישראל - http://www.holy-land-herbs.co.il לא ישא בכל אחריות לכל שימוש בלתי מורשה ו/או שימוש לרעה ו/או שימוש שלא כדין ו/או שימוש במרמה שייעשה על ידי צד שלישי כלשהו בכרטיס חיוב כהגדרתו בחוק כרטיסי חיוב, תשמ"ו-1986 (להלן: החוק) לשם ביצוע פעולה באתר ו/או בניגוד לדין. רישומי מחשב עיבוד הנתונים של האתר, המנהל רישום ממוחשב של כל הפעולות באתר, יהוו ראיה לכאורה לאמור בהן.
%h6
  השימוש באתר ובחנות הוירטואלית המופעלת באתר עשבי ארץ ישראל
%p
  כל אדם ו/או חברה ו/או גוף משפטי אחר יכול לבצע פעולה בחנות הוירטואלית המופעלת באתר עשבי ארץ ישראל בהתקיים במצטבר כל אחד מהתנאים המפורטים להלן: המשתמש באתר הינו תושב ישראל שגילו מעל 18 שנים, בעל תעודת זהות ישראלית תקפה, או תאגיד המאוגד כדין בישראל. המשתמש באתר הינו בעל כרטיס אשראי תקף השייך לאחת מחברות כרטיסי האשראי הפועלות בישראל ואשר הונפק בישראל. המשתמש באתר הינו בעל תא דואר אלקטרוני ברשת.
  מבלי לגרוע מן האמור לעיל, תנאי מוקדם לאישור פעולה בחנות האתר של משתמש הוא אישור של חברת כרטיסי האשראי, אשר דרכה התחייב המשתמש באתר לבצע את הרכישה ו/או לעסקת הרכישה עליה התחייב. המבצע וכל המשתמשים מטעמו/ה יצייתו להוראות תקנון זה במלואן ולהוראת כל דין במסגרת שימושם באתר ובחנות האתר. במסגרת ביצוע פעולות באתר יהיה על כל משתמש להכניס פרטים שונים, כמצוין וכאמור לעיל, שמסירתם הינה תנאי הכרחי לרכישת מוצרים ו/או שירותים המוצעים באתר, אולם אינה מחויבת על פי חוק. על משתמש בחנות האתר חלה חובה למסור מידע מדויק, מלא ומעודכן. המפעילים שומרים על זכותם לפעול - לפי שיקול דעתם הבלעדי - במקרה בו משתמש בחנות האתר יפר התחייבות זו, לרבות (אך לא רק) בדרך של ביטול חד- צדדי של המנוי ו/או העסקה או הגבלתם.
%h6
  פרטיות
%p
  כל המידע אשר יסופק על ידך במהלך הגלישה באתר עשבי ארץ ישראל, ישאר חסוי ופרטיותך תישמר ללא תנאי ובצורה קפדנית. אנחנו לעולם לא נעביר שום פרט או מידע אודותיך לשום גורם שלישי חיצוני. כל מידע הקשור אליך רפואית ישאר חסוי תחת חוק סודיות רפואית. אנו פועלים תחת אמנת שירות ודבקים למלא אחר העקרונות שהצבנו לעצמנו הן מבחינת שרות הלקוחות והן מבחינת איכות המוצרים והשירותים המסופקים על ידנו. פרטיותך תכובד על ידנו באופן מלא ועל פי המפורט בתקנון ובתנאי השימוש באתר.
%h6
  מדיניות החלפת מוצרים 
%p
  האתר יחליף או יחזיר את תמורתו של כל מוצר פגום או לא, אשר נמסר ללקוח בהתאם לתנאי ההחזר אשר יפורטו להלן:
  \- המוצר הוחזר בתוך 14 יום ממועד קבלתו בידי הלקוח; 
  \- המוצר הוחזר באריזתו המקורית מבלי שנעשה בו כל שימוש;
  \- המוצר יישלח בדואר ל "עשבי ארץ ישראל" שומרון 20 ירושלים.
  \- שמו ופרטיו המלאים והמדויקים של הלקוח יצורפו למוצר.
%h6
  מדיניות ביטול עסקה על ידי הלקוח
%p
  הלקוח יכול לבטל את העסקה שביצע באתר בהתאם להוראות חוק הגנת הצרכן.
%h6
  מועדי ואופני אספקה
%p
  אופני אספקת המוצרים באתר:
  \- דואר רשום | על ידי דואר ישראל - עד 14 ימי עסקים
  \- דואר שליחים | על ידי דואר ישראל - עד 5 ימי עסקים
  אנו עושים כמיטב יכולתנו כדי לשלוח את המוצרים מיד עם קבלת ההזמנה והסדרת התשלום עבורה. זמני האספקה הצפויים להם אנו מתחייבים הם עד 14 ימי עסקים לדואר רשום ועד 5 ימי עסקים לדואר שליחים, יחד עם זאת יתכנו שינויים במועדי האספקה בכפוף לתנאי ומדיניות המשלוחים של חברת דואר ישראל. ימי עסקים הם ימים א'-ה', למעט ימי שישי, ערבי חגים ומועדים, שבת וימי חג, מועדים ושבתון. המוצרים יסופקו על פי אופן השילוח שיבחר על ידי המשתמש בדף הרכישה. ספירת ימי האספקה מתחילה מיום העסקים הראשון שאחרי יום הסדרת התשלום. אם נמסרו פרטים לא מלאים ו/או לא נכונים יתארך מועד האספקה עד לברור העניין. האתר לא יהא אחראי לכל איחור באספקת המוצר שאינו בשליטתו. אספקת המוצרים תתבצע לבית הלקוח ו/או לסניף הדואר הקרוב למקום מגוריו ו/או לכל מקום ו/או בכל דרך שהיא שתתואם עם הלקוח.
%h6
  ביטול עסקה
%p
  האתר שומר לעצמו את הזכות, לפי שיקול דעתו הבלעדי, שלא לספק מוצר מסוים. במקרה כזה, נודיע ללקוח על ביטול העסקה או לחילופין, יוצע לו מוצר חלופי ובמידה ולא יקבל הלקוח את ההצעה יהיה רשאי לבטל את העסקה ולא יחויב בהוצאות כל שהן.
%h6
  פרסומות ועדכונים באמצעות דואר אלקטרוני
%p
  הנהלת האתר מתחייבת שפרטי ההצעה לרכישת מוצר ו/או שרות באתר ופרטי המשתמש באתר ישמשו לשימוש פנימי של האתר בלבד ולא יועברו על ידי בעלי האתר ומפעיליו לגורמים שלישיים חיצוניים. המידע שיוכנס למערכת האתר ישמש בין השאר לשליחת דואר אלקטרוני מידי פעם בנוגע למבצעים מיוחדים או עדכונים באתר. אם אינכם מעוניינים בקבלת דואר אלקטרוני תוכלו להסיר את כתובתכם על ידי מייל חוזר לכתובת mail AT holy-land-herbs.co.il
%h6
  זכויות יוצרים
%p 
  זכויות היוצרים באתר וכל האלמנטים בו, לרבות שם האתר, תוכנות העזר המשמשות להפעלתו, הסימן המסחרי, העיצוב, הטקסטים, התמונות וכל מידע אחר שייכות ל "עשבי ארץ ישראל” ו/או בעלי הזכויות בו, אשר אחסנו את המידע בו, וזאת בין אם נכללה ביחס למידע ספציפי הודעת זכויות יוצרים ובין אם לאו. חל איסור לעשות כל שימוש באלמנטים אלו, לרבות העתקה, שיכפול, הפצה, הצגה, מסירה לצד שלישי ו/או כל שימוש אחר בלא הסכמה מהנהלת האתר - בכתב ומראש.
%h6
  קישורים 
%p
  באתר עשויים להופיע קישורים (links) לאתרים אחרים, ישראליים או זרים. האתר ו/או מי ממפעיליו אינם אחראים למידע ו/או לשירות הנמצא באתרים אחרים מכל בחינה שהיא, לרבות כל פגיעה ברגשות המשתמשים. הימצאות הקישור באתר אינה המלצה לבקר בו, אלא אם כן מצוין כך במפורש.
%h6
  שונות
%p
  האתר ניתן לשימוש כמו שהוא ("AS IS"). המשתמש מוותר בזאת על כל טענה, תביעה ו/או דרישה כלפי בעלי ו/או מפעילי האתר ו/או מי מטעמו בגין תכונות השירות, יכולותיו, מגבלותיו או התאמתו לצרכי המשתמש ולדרישותיו. לא תהא למשתמש ו/או למי מטעמו כל טענה ו/או תביעה כנגד בעלי האתר ו/או מפעיליו ו/או מי מטעמם מלבד טענות הקשורות בהפרת התחייבויות בעלי האתר ו/או מפעיליו על פי תקנון וכללי השתתפות אלו. בכל מקרה אשר בו, מחמת "כוח עליון", נבצר יהא מבעלי האתר ו/או מפעיליו לנהל את האתר כתיקנו, לספק את המוצרים או לעמוד בהתחייבות אחרת כלשהי, יהא האתר רשאי לבטל את ההתקשרות עם הקונים, כולם או חלקם. בסעיף זה "כוח עליון" משמעו: לרבות תקלות מחשב, תקלות במערכת טלפונים או תקלות במערכות תקשורת אחרות, חבלה כלשהי ואירוע בטחוני.
%p
  על תקנון זה ועל כל עניין הקשור בשימוש באתר זה יחול הדין הישראלי וסמכות השיפוט בכל דבר ועניין הקשורים אליו ו/או נובעים ממנו מוקנית לבית-המשפט המוסמך בישראל. במקרה של מחלוקת מקום השיפוט יהיה ת"א בלבד.
