- content_for :head do
  %title עשבי ארץ ישראל - מי אנחנו?
.information-page-content    
  .row
    .col-md-5.col-sm-4.no-padding
      .image
        %img.img-responsive.thumbnail{:alt => "Image", :src => '/images/aboute_us.jpg' }
    .col-md-7.col-sm-8
      .header
        מי אנחנו
      %p
        קבוצת עשבי ארץ ישראל הוקמה בשנת 1986 ושמה לה למטרה לשמר את הידע הקדום של צמחי המרפא. מאז ועד היום הרבה מים עברו בנהר והספקנו עם השנים לשתול חלקות של צמחי מרפא ולרכוש ציוד לעיבוד והפקה של חומרים מצמחים אלו. 
      %p
        אף אנו מספקים חלקות לזריעה וגידול של צמחי אוכל ותבלין וכן מקיימים סיורים להכרת צמחי ארץ ישראל לקבוצות ויחידים.
      %p  
        אנו תקווה שידע קדום זה יושרש ויופץ ויהיה קיים בכל בית בישראל ומחוצה לה. קבוצתינו הוקמה על מנת לתת עזרה וסיוע בהפצה זו. אין אנו מתימרים להיות הידענים ביותר, וכמובן נשמח לכל ידע, מרשם, או עזרה במבצע חובק עולם זה.
      %p
        אנו מודים לכם מראש על שימושכם באתר זה ונשמח לקבל כל הערה בונה.
        









 