- content_for :head do
  %title עשבי ארץ ישראל - קליניקות ומטפלים
.information-page-content    
  .row
    .col-md-6.col-sm-4.no-padding
      .image
        %img.img-responsive.thumbnail{:alt => "Image", :src => '/images/Handful-Herbs.jpg' }
    .col-md-6.col-sm-8
      .header
        קליניקות ומטפלים
      %p
        מערך הקליניקות שהקמנו מרכז בתוכו את אוסף צמחי המרפא השמנים ותוצריהם אשר קיימים בארץ ישראל ובעולם כולו. בקליניקה תוכלו למצוא מטפלים, שמנים אתריים איכותיים וכן חומר צמחי באיכות המשובחת ביותר הקיימת. כמו כן ניתן למצוא בקליניקה מגוון של קרמים טיפוליים, שמני עיסוי רפואיים וכן מגוון רחב של חומרים פעילים מהצומח. גם ספרים העוסקים בצמחי מרפא זמינים אצלנו וכן ניתן להזמין אצלנו כל ספר העוסק בצמחי מרפא או ברפואה אלטרנטיבית. מטפלים העוסקים בקריסטלים ימצאו אצלנו בקליניקה כל אבן ואבן שקיים עליה מידע רפואי כמובן עם דף הסבר מפורט עם כל הידע המצוי אצלינו על האבן המדוברת.
      %p
        גם מתענינים בריאים יוכלו לראות בקליניקה את האוסף השלם של צמחי מרפא על זרעיהם , שרפיהם וכן מוצרים המופקים מכל צמח ספציפית כך שכדאי לבקר גם על מנת להרחיב את הידע וללמוד יותר על עולמם המופלא של צמחי המרפא.
      %p
        ניתן לבקר על פי תאום מראש. 