/ Main Heading Starts
.information-page-content
  .row
    .col-sm-3.hidden-xs
      = render 'information_menu'
    .col-sm-9     
      .information-page-head
        Delivery Information
      .panel-body.information-page-body 
        %h6 
          Delivery
        %p
          After your order has been placed, the packaged item will be sent to you at the address you provided by mail or EMS as follows:
          1. To an address in Israel within 14 business days (registered mail)
          2. To an overseas address within 14-21 business days
          The period specified for supplying the goods will begin the next business day after your order has been authorized by the credit card company. The shop bears no responsibility for delays in supply and/or service caused by the postal service or EMS. The shop will be considered the place Whenre the item has been handed over. When the item is delivered, you may be required to provide proof of your identity or sign a receipt in order to receive the item.
          A separate charge will be made for delivery, in addition to the price of the item. Delivery tariffs may change from time to time.
        %h6 
          Delivery Tariff
        %p
          1. To an address in Israel, a package weighing up to 2 Kg. costs $7.00
          2. To an overseas address, there are two shipping options, a package weighing up to 2 Kg. costs $15.00 to ship registered mail, and $30.00 to ship via EMS.
          3. For packages of excess weight (according to the judgment of the shop), a special charge will be levied, after receiving your confirmation by email or telephone.
          4. All items purchased online can be picked up in person. The items will be kept in the City of David shop for 7 days. In this case, charges will be made upon pick-up and not previously.
          In order to eliminate any doubt, delivery charges are part of the contract, and the purchase price is the one which is advertised online at the time that you complete the entire ordering process. 
    .col-sm-3.visible-xs-block
      = render 'information_menu' 