.row    
  .col-md-7
    / Slider Section Starts
    .slider
      #main-carousel.carousel.slide{"data-ride" => "carousel"}
        / Wrapper For Slides Starts
        .carousel-inner
          .item.active
            %img.img-responsive{:alt => "Slider", :src => "images/slider-imgs/slide1-img.jpg"}/
          .item
            %img.img-responsive{:alt => "Slider", :src => "images/slider-imgs/slide2-img.jpg"}/
          .item
            %img.img-responsive{:alt => "Slider", :src => "images/slider-imgs/slide3-img.jpg"}/   
          .item
            %img.img-responsive{:alt => "Slider", :src => "images/slider-imgs/slide4-img.jpg"}/
          .item
            %img.img-responsive{:alt => "Slider", :src => "images/slider-imgs/slide5-img.jpg"}/        
        / Wrapper For Slides Ends
        / Controls Starts
        %a.left.carousel-control{"data-slide" => "prev", :href => "#main-carousel", :role => "button"}
          %span.glyphicon.glyphicon-chevron-left
        %a.right.carousel-control{"data-slide" => "next", :href => "#main-carousel", :role => "button"}
          %span.glyphicon.glyphicon-chevron-right
    / Slider Section Ends
  .col-md-5
    .information-page-content 
      %h3
        אנו בעשבי ארץ ישראל מאמינים בכוחם של הצמחים והמינרלים בכדור הארץ לתת מזור לתחלואי האדם ולרומם את רוחו.
      %h3
        כל המרשמים, צמחי המרפא והמינרלים אצלנו עברו זיהוי ודאי על פי תורת הרמב"ם וחכמי העולם העתיק.
%br
.row 
  .col-md-4.pull-right
    = link_to Category.find_by(name: 'שמנים בטעמים') do
      .home-page-product-links
        %img.img-responsive{:alt => "Slider", :src => "images/oliveoilfamily.jpg"}/
  .col-md-4.pull-right
    = link_to Product.find_by(name: 'מי כסף קולואידים') do
      .home-page-product-links
        %img.img-responsive{:alt => "Slider", :src => "images/silverwater1.jpg"}/  
  .col-md-4.pull-right
    = link_to Product.find_by(name: 'ריבת אתרוגים') do
      .home-page-product-links
        %img.img-responsive{:alt => "Slider", :src => "images/etrog.jpg"}/                 