/ Main Heading Starts
.information-page-content
  .row
    .col-sm-12     
      .information-page-head
        תנאי שימוש באתר
      .panel-body.information-page-body 
        = render 'terms_and_conditions' 