%p
  אנו מודים לכם על קנייתכם אצלינו, בזמן הקרוב ישלח מייל אשר יאשר את קנייתכם ולמעשה מרגע זה אנו אחראים על כספיכם עד לקבלת המוצר אל ביתכם, או בנקודות החלוקה.
%p
  באם אינכם מרוצים מן המוצר כספיכם יוחזר והמוצר יוחלף עד לשביעות רצונכם.  
