/ Main Heading Ends
/ Content Starts
.content-box.text-center
  %h2.main-heading.text-center
    404 Page
  %h4.special-heading oops !
  %h5
    The page you were looking for could not be found.
  %br/
  %p
    %a.btn.btn-warning{:href => "index.html"} Back to Home
/ Content Ends