.information-page-content
  .row
    .col-md-3
      = render 'pages/user_menu'
    .col-md-9     
      .panel.panel-smart 
        %p
          ההצטרפות למועדון הלקוחות היא בעלות חד-פעמית 20 ש"ח ואין צורך לחדש את המועדון בכל שנה אלא הוא תקף לתמיד.
          כרטיס המועדון מקנה: 
          5% הנחה על ירקות ופירות.
          5% הנחה על מותג הבית (מוצרים שרשום עליהם ניצת הדובדבן).
          מבצעים חודשיים מיוחדים לחברי מועדון.
