.row 
  .col-md-12   
    .panel.panel-smart
      %h3.panel-title
        = link_to 'הוסף קטגוריה חדשה לאתר +' , new_admin_category_path
%br      
- @categories.each do |category|
  = render 'category', category: category
  