.row
  .col-xs-6
    %form.form-horizontal
      .form-group
        .row
          .col-xs-6
            = link_to admin_active_ingredient_path(active_ingredient), method: :delete, :data => {:confirm => 'חשוב טוב!!! האם אתה בטוח שברצונך למחוק פעילות רפואית זן?'}, class: 'btn btn-remove' do
              מחק
              %i.fa.fa-remove          
          .col-xs-6
            = link_to edit_admin_active_ingredient_path(active_ingredient), class: 'btn btn-update' do
              ערוך  
              %i.fa.fa-pencil-square-o 
  .col-xs-6
    = link_to active_ingredient.name, active_ingredient_path(active_ingredient) 