/* Large Devices Styles Starts */

@media (min-width: 1200px) {

/* Tooltip Styles Starts */
  
  .header-links .tooltip{
    display:none !important;
  }
  
}

/* Medium Devices Styles Starts */

@media (min-width: 992px) and (max-width: 1199px) {

/* Tooltip Styles Starts */
  
  .header-links .tooltip{
    display:none !important;
  }

/* Cart Style Starts */  

  #cart .btn{
  }
    #cart .btn .fa-shopping-cart{
      margin-right:7px;
    }
    #cart .btn span#cart-total{
      padding:0 5px;
    }
    #cart .btn i.fa-caret-down{
      margin-left:0;
    }

/* Products Box Styles */

  .product-col.list .image{
    padding:40px 30px 10px 0;
  }
  .product-col .btn-cart{
    margin-top:5px;
  }

/* Footer Links Styles Starts */

  .footer-links h5{
    margin:10px 0;
  }

/* Copyright Styles Starts */
  
  .copyright{
    font-size:13px;
  }
    .copyright p.pull-left, .copyright ul{
      text-align:center;
      float:none !important;
    }

}

/* Small Devices Styles Starts */

@media (min-width: 768px) and (max-width: 991px) {

/* Logo Styles Starts */

  #logo .img-responsive{
    margin-left:auto;
    margin-right:auto;
  }

/* Main Menu Styles Starts */

  #main-menu .navbar-nav > li a,
  #main-menu .nav-justified > li a{
    font-size:13px;
    padding-left:6px;
    padding-right:6px;
  }
  
/* Products Box Styles */

  .product-col.list .image{
    padding:40px 30px 10px 0;
  } 
  
/* Pagination Styles Starts */

  .pagination{
    margin-bottom:15px; 
  }
  .results{ 
    padding-top:5px;
  }
  
/* Footer Links Styles Starts */

  .footer-links h5{
    margin:10px 0;
  }
  
/* Copyright Styles Starts */
  
  .copyright{
    font-size:12px;
  }
    .copyright p.pull-left, .copyright ul{
      text-align:center;
      float:none !important;
    }
  
}

/* Extra Small Devices Styles Starts */

@media (max-width: 767px) {

/* Responsive Image Styles Starts */

  #logo .img-responsive, .col3-banners .img-responsive, .col2-banners .img-responsive, .product-col .img-responsive{
    margin:0 auto;
  }
  
/* Main Menu Styles Starts */

  #main-menu .dropdown-inner ul {
    display:block;
  }

/* Header Links Styles Starts */

    .header-links ul.pull-left{
      float:none !important;
      text-align:center;
    }
      .header-links li a{ 
        padding:10px 3px 0;
      }
    
/* Currency & Languages Drop Down Styles Starts */

    .header-top .pull-right{
      float:none !important;
      text-align:center;
    }
      .header-top .btn-link{
        margin:0 0 10px;
      }
      
/* Slider Section Styles Starts */

  .slider{
    margin-bottom:20px;
  } 

/* Latest Products Styles Starts */

  .product-head, .product-col{
    text-align:center;
  }
    .product-col.list .image{
      float:none;
      padding:0;
    }
      
/* Three Column Banner Styles Starts */

  .col3-banners{
    margin-bottom:10px;
  }
    .col3-banners li + li{
      margin-top:20px;
    }

/* Two Column Banner Styles Starts */

  .col2-banners{
    margin-bottom:10px;
  }
    .col2-banners li + li{
      margin-top:20px;
    }   
    
/* Page Content Styles Starts */

  .page-box h3{
    margin-top:20px;
  }   
  
/* Tabs Styles Starts */

  .tabs-panel .nav-tabs > li{
    display:block;
    float:none;
  }
  
/* Pagination Styles Starts */

  .pagination-block{
    text-align:center;
  }
    .pagination{
      margin-bottom:10px; 
    }
  .results{
    text-align:center;
    padding-top:0;
    margin-bottom:15px;
  } 

/* Footer Links Styles Starts */
  
  .footer-links .col-sm-6, .footer-links .last{
    text-align:center;
  }
  .footer-links .col-sm-6{
    margin-bottom:20px;
  }
  .footer-links h5{
    margin:10px 0;
  }

/* Copyright Styles Starts */
  
  .copyright{
    font-size:11px;
  }
    .copyright p.pull-left, .copyright ul{
      text-align:center;
      float:none !important;
    }
      .copyright li{
        padding:0 2px;
      }
  
}

@media (max-width: 350px) {

  .product-col .price span{
    font-size: 14px !important;
  }
}

/* Column 5ths */
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

@media (max-width: 380px) {
  .product-responsive-padding{
    padding-left: 2px;
    padding-right: 2px;
  }

  .product-col .cart-button .btn{
    padding-left: 3px !important;
    padding-right: 3px !important;
  }

  #search .input-group .form-control,
  #search .input-group .btn,
  #search{
    width: 100% !important;
  }
}


@media (max-width: 767px) {
  #cart .btn{
    margin-top: 0px !important;
  }

  .small-devise-no-padding{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
}

@media (max-width: 991px) {
  .admin-menu .navbar-header{
    float: none;
  }
  .admin-menu .navbar-toggle {
    display: block;
  }
  .admin-menu .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .admin-menu .navbar-collapse.collapse {
    display: none!important;
  }
  .admin-menu .navbar-collapse.collapse.in {
    display: block!important;
  }
  .admin-menu .navbar-nav {
    float: none!important;
    margin: 7.5px -15px;
  }
  .admin-menu .navbar-nav>li {
    float: none;
  }
  .admin-menu .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 300px) {
  .store-main-menu li {
    margin-right: 40%;
    width: 60%;
  }
}

@media (min-width: 768px) {
  
  .search-phone {
    position: absolute; 
    bottom: 2px;
  }
  .store-main-menu li {
    margin-right: 0%;
    width: 14.28%;
  }

  .store-main-menu .category {
    line-height: 20px;
    font-weight: bold;
  }

}

@media (min-width: 1200px) {
  .store-main-menu .category {
    height: 70px;
    font-weight: bold;
  }

  .store-main-menu li > a{
    padding-top: 14%;
  }

  .store-main-menu li > .tow-lines {
    padding-top: 9% !important;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .store-main-menu li {
    height: 70px !important;
  }

  .store-main-menu li > a{
    padding-top: 16%; 
  } 

.store-main-menu li > .tow-lines {
  padding-top: 2% !important;
}


}

@media (max-width: 767px) {
  .header-phone span{
    font-size: 18px !important;
  }
  .store-main-menu .navbar-header{
    background-image: url(/images/store.jpg) !important;
  }
  .footer-links .follow-us {
    padding-left: 30% !important;    
  }
  .footer-links .last{
    padding-top: 200px !important;
  }
}

@media (max-width: 991px) {
  .container {
    width: 98% !important;
  }
}


@media (max-width: 767px) {
  .btn-update {
    margin-top: 5px;
  }
}

@media (min-width: 360px) {
  #cart  ul.dropdown-menu { 
    width: 310px;  
  }
}

