/ Main Heading Starts
%h2.main-heading.text-center
  404 Page
/ Main Heading Ends
/ Content Starts
.content-box.text-center
  %h4.special-heading oops !
  %h5
    The page you were looking for could not be found.
  %br/
  %p
    = link_to 'Back to Home', root_path, class: 'btn btn-warning'
/ Content Ends
