- content_for :head do
  %title המוזאון הפעיל לצמחי מרפא - יחורים
.information-page-content    
  .row
    .col-md-9.col-sm-8
      .header
        הספקת והשרשת יחורים 
      %p
        עצות והוראות להובלת חומר צמחי המיועד לריבוי
      %ul
        %li 
          רצוי להביא יחורים מצמח שהושקה היטב במשך 4-5 ימים לפני קטיפת הענף.
        %li
          יש לקטוף ענפים מלבלבים וירוקים.
        %li
          יש להרטיב את העלה הקטוף טרם קטיפתו.
        %li
          יש לשמור את החומר הקטוף במגבת רטובה בטמפרטורה סבירה.
        %li
          רצוי לקטוף את החומר בסמוך לרגע ההשרשה במידה ולוקח זמן עד ההשרשה יש לשמור את החומר במקרר.
        %li
          טוב להתיז מים על החומר הקטוף עד לרגע ההשרשה ואחריה כמובן.
        %li
          רצוי עד מאוד לידע אותנו לפחות שני ימי עבודה בטרם הבאת החומר הקטוף אלינו וזאת על מנת שנוכל להכין כלים לקבל חומר זה.
      %p  
        הודעות ושאלות יתקבלו בברכה באי מייל ואנו נודה לכם מראש על סבלנות בקבלת התשובה.
      %p
        כמו כן ניתן להזמין יחורים מהצמחים המופיעים באינדקס צמחי המרפא שלנו, ואנו נקטוף, נשריש, נכין לשתילה ונספק באהבה אליכם הביתה, וכמובן נצרף הוראות שתילה וטיפול לכל צמח בנפרד.   
      %p
        נ.ב נרצה לציין פה שלא מכל הצמחים ניתן לעשות יחורים כל השנה לכן יצירת קשר עם משרדינו במייל טרם תחילת התהליך תוכלו לייעלו.  
    .col-md-3.col-sm-4
      = render 'active_museum_menu'