- content_for :head do
  %title המוזאון הפעיל לצמחי מרפא - בית חולים לצמחים
.information-page-content    
  .row
    .col-md-9.col-sm-8
      .header
        בית חולים לצמחים     
      %p
        קיים אצלנו מקום מיוחד ואהוב שלמעשה יחדנו אותו לטיפול בצמחים חולים כאשר תוך כדי הטיפול אנו גם חוקרים את הגורם למחלה וגם נותנים פתרונות על מנת למגרה. בבית חולים זה אין אנו מטפלים בכימיכלים אלה בהדברה ביולוגית ו\או חומרי הדברה מהצומח כגון איזדרכת, עץ שיח הטבק, ועוד עצים למיניהם המשמשים ככותלי חרקים יעילים. כמו כן ניתן לרכוש בבית החולים חומרי הדברה עם הדרכה טיפול הבעייה בבית וזאת מבלי להביא את הצמח אלינו.
      %p
        אנו נשמח לעזור בכל בעיה ורצוי לקבל תאור על הבעיה ביחד עם תמונה בטרם הבאת הצמח לבית החולים לצמחים.
      %p
        למעשה בית חולים זה הוקם לאנשים האוהבים צמחים וכן לצמחים נדירים אשר נתקפו במחלה כל שהיא ושווה לשמרם ולעודדם לבריאות. אנו נשמח ממש לכל שיתוף פעולה וכמובן לכל מידע על מחלות אשר תשתפו איתנו.
      %p
        בברכה עשבי ארץ ישראל.
    .col-md-3.col-sm-4
      = render 'active_museum_menu'