- content_for :head do
  %title המוזאון הפעיל לצמחי מרפא - ריבוי צמחים
.information-page-content    
  .row
    .col-md-9.col-sm-8
      .header
        ריבוי צמחים     
      %p
        ריבוי צמחים מה הוא? בידוע שעל ידי יחורים ניתן לשכפל כל צמח וצמח והמשוכפל מבניהם זהה בתכונותיו לצמח האם שממנו נלקח היחור (ענף מהעץ). אנו נותנים שרות של ריבוי צמחים במקרים הבאים: אם יש לך עץ מרפא נדיר, יפה ואהוב ואתה רוצה שיהיו עוד כמותו, תוכל להביא חומר צמחי אלינו למוזיאון ואנו נעשה ככל שביכולתינו על מנת שיהיו עוד עצים כמותו. המקרה השני במידה ויש לך או מצאת עץ טעים למאכל, גם ממנו תוכל להביא חומר צמחי ואנו נעשה ככל שביכולתינו להפכו לעץ פרי. כמו כן תוכל למצוא באתרינו הוראות כיצד להוביל את החומר הפעיל ובאיזה תנאים מרגע הקטיף ועד שיגיע אלינו. נשמח לכל שיתוף פעולה עם כל אוהב טבע ומי שיקר עולם הצמחים לליבו.
    .col-md-3.col-sm-4
      = render 'active_museum_menu'