- content_for :head do
  %title המוזאון הפעיל לצמחי מרפא - חלקות לעיבוד
.information-page-content    
  .row
    .col-md-9.col-sm-8
      .header
        חלקות לעיבוד  
      %p
        חברים יקרים, אנו מתכוננים לסיום שנת השמיטה. גם השנה כבכל שנה נקצה חלקות לעיבוד ולגידול ירקות ו/או צמחי מרפא לכל דורש על פי שיטת כל הקודם זוכה. אולם אנו ניתן עדיפות לאנשים אשר בידם יש זרעים מיוחדים הנדירים אשר יש ענין לכלל הציבור שיתרבו הזרעים מצמחים אלה, וכמובן למשפחות עם ילדים. כמו כן אנו נקצה ארבע חלקות של 25 מטר מרובע בתוך הבוסתן למטרות מחקר. החלקות נמצאות בסמוך לכפר אוריה ומשופעות באדמת  טסטה-רוסה חומה ועשירה. הקצאות מיים ינתנו במקום וכל סיועה אפשרי.   
      %p
        להרשמה יש להתקשר למוקד שרות לקוחות בין השעות 9:00 - 12:00, או לשלוח מייל ל: holy-land-herbs@gmail.com
    .col-md-3.col-sm-4
      = render 'active_museum_menu'