- content_for :head do
  %title המוזאון הפעיל לצמחי מרפא - חלקות לעיבוד
.information-page-content    
  .row
    .col-md-9.col-sm-8
      .header
        חלקות לעיבוד  
      %p
        חברים יקרים, הסתיימה לה שנת השמיטה. גם השנה כבכל שנה נקצה חלקות לעיבוד ולגידול ירקות ו/או צמחי מרפא לכל דורש על פי שיטת כל הקודם זוכה. אולם ניתן אנו עדיפות לאנשים אשר בידם יש זרעים מיוחדים ונדירים אשר יש עניין לכלל הציבור שיתרבו הזרעים מצמחים אלו, וכמובן למשפחות עם ילדים. כמו כן אנו נקצה ארבע חלקות של 25 מטר רבוע בתוך הבוסתן למטרות מחקר. החלקות נמצאות באזור ירושלים יהודה ומשופעות באדמת טרה-רוסה חומה ועשירה. הקצאת מים תינתן במקום וכמו כן כל סיוע אפשרי.  
      %p
        להרשמה יש להתקשר למספר: 054-9427654 בין השעות 12:00 ל- 17:00, או לשלוח מייל ל:  
        holy-land-herbs@gmail.com
    .col-md-3.col-sm-4
      = render 'active_museum_menu'