.row 
  .col-md-12   
    .panel.panel-smart
      %h3.panel-title
        = link_to 'הוסף תכשיט חדש לאתר +' , new_admin_jewelry_path  
.product-info-box
  .content-box
    / Products Row Starts
    .row
      - @jewelries.each do |jewelry|
        .col-md-4.col-sm-4.col-xs-12.no-padding.pull-right
          = render 'jewelry', jewelry: jewelry